/*****************************
GENERAL
*/

body {
  margin: 0;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efefef;
  font-family: 'Sintony', sans-serif;
  margin: 0px;
}

footer {
	padding : 2px;
	text-align : center;
	font-size : 0.7em;
}

a {
  color: #565656;
}
a.active {
  color: #000000;
}
a:hover {
  color: #76323f;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
    overflow-x:auto;
    max-width: calc(100% - 40px);
    margin: 20px auto;
}
th{
  padding: 8px;
}
td, th {
    border: 1px solid #000000;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

#content{
  max-width: calc(100% - 40px);
  margin: 20px auto;
}

.small {
	font-size : 0.8em;
}

.grey {
	color : #888888;
}

/*****************************
MENU
*/
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  vertical-align: middle;
  text-align : right;
  padding-bottom : 15px;
}

/* LOGO */
.topnav img {
  float : left;
  width: 200px;
}

.topnav {
  text-decoration: none;
  font-size: 18px;
}

.topnav a:not(:first-child) {
  display: inline-block;
  padding: 14px 16px;
  margin-top: 30px;
  text-decoration: none;
}


.topnav a.icon {
  float: right;
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: block;
  }
  
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive img {
    display: block;
	float : none;
  }
  .topnav.responsive a:not(:first-child) {
    display: block;
	padding: 8px 15px;
	margin-top: 0px;
  }
}






/*****************************
HOME
*/
#page-1{
}
#page-2{
  background-color: #eeffff;
}
#page-3{
  background-color: #ffeeff;
}
#page-1, #page-2, #page-3{
  font-size: 3em;
}
@media screen and (max-width: 600px) {
  #page-1, #page-2, #page-3{
    font-size: 25px;
  }
}
/* SCROLLING*/
scroll-container {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



/*****************************
INFOS
*/
/*** Sous menu 
#list_info li{
  display: inline;
  text-align: center;
  font-size: 17px;
  padding:  5px;
}
li { border-right: 1px solid #000000; }
li:last-child { border-right: none;}
*/
h1{
  color: #ffbd00;
}

/* ADRESS */
.address{
  display: flex;
}
/* MAP */
#my_osm_widget_map {
width:70%;
height: auto;
border-radius: 5px;
margin-left: 25%;
border: solid;
}

#talk{
  background-color: #ffbd00;
}
#atelier{
  background-color: #c09f80
}
#install{
  background-color: #96646D
}
#certif{
  background-color: #fff7c0
}
#forum{
  background-color: #008f95
}
.row-content{
  padding: 8px;
}
.row-detail{
  display: none;
  margin: 0 auto;

  max-width: 350px;

  font-size: 13px;
}
.row-content:hover .row-detail{
  display: block;
}
